<!DOCTYPE html>
<html>
<head>
  <title>TrackStar</title>
  
  <meta content="user-scalable=0" name="viewport">
  <meta name="apple-mobile-web-app-capable" content="yes">
  
  <link rel="stylesheet" href="/style.css">
  <script src="//cdn.jsdelivr.net/npm/phaser@3.54.0/dist/phaser.min.js"></script>

  <script src="Track.js"></script>
  <script src="EditorUIScene.js"></script>
  <script src="TrackBuilderScene.js"></script>
  <script src="TrackBuilder.dev.js"></script>
</head>
<body>
</body>
</html>