<!DOCTYPE html>
<html>
<head>
  <title>TrackStar</title>
  
  <meta content="user-scalable=0" name="viewport">
  <meta name="apple-mobile-web-app-capable" content="yes">
  
  <link rel="stylesheet" href="/style.css">
  <script src="//cdn.jsdelivr.net/npm/phaser@3.54.0/dist/phaser.min.js"></script>

  <script src="Track.js"></script>
  <script src="MainScene.js"></script>
  <script src="UIScene.js"></script>
  <script src="script.js"></script>
</head>
<body>
  <div class="bannerTrigger">
    <div class="banner initial">Use a gamepad, arrows keys or WASD keys to drive. '+' and '-' to zoom in and out</div>
  </div>
</body>
</html>