<!DOCTYPE html>
<html>
<head>
  <title>TrackStar</title>
  
  <meta content="user-scalable=0" name="viewport">
  <meta name="apple-mobile-web-app-capable" content="yes">
  
  <link rel="stylesheet" href="/style.css">
  <script src="//cdn.jsdelivr.net/npm/phaser@3.54.0/dist/phaser.min.js"></script>

  <script src="Physics.js"></script>
  <script src="Particles.js"></script>
  <script src="Track.js"></script>
  <script src="Car.js"></script>
  <script src="AI.js"></script>
  <script src="TyreMarks.js"></script>
  <script src="Camera.js"></script>
  <script src="Debug.js"></script>
  <script src="MainScene.js"></script>
  <script src="UIScene.js"></script>
  <script src="game.js"></script>
</head>
<body>
  <div class="bannerTrigger">
    <div class="banner initial">Use a gamepad, arrows keys or WASD keys to drive. '+' and '-' to zoom in and out</div>
  </div>
  <div class="spinner" style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
  <div id="toast"></div>
</body>
</html>