 @viewport {  
   orientation: portrait;  
 }  

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  line-height: 1.5em;
  overflow: hidden;
}

.banner {
  position: absolute;
  top: -50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #111;
  color: #888;
  font-size: small;
  transition: top 0.5s;
}

.initial {
  top: 0px;
}

.bannerTrigger {
  position: absolute;
  height: 100px;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.bannerTrigger:hover > .banner {
  top: 0px; 
  transition: top 0.5s;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  
  animation-name: blink;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.spinner {
  position: absolute;
  top: calc(50% - 20px);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#loaderText {
  color: #888;
}

@keyframes blink {
  0% { opacity: .2; }
  20% { opacity: 1; }
  100% { opacity: .2; }
}

.spinner span:nth-child(2) { animation-delay: .2s; }
.spinner span:nth-child(3) { animation-delay: .4s; }
.spinner span:nth-child(4) { animation-delay: .6s; }
.spinner span:nth-child(5) { animation-delay: .8s; }


.ui {
  font-family: helvetica;
  text-align: center;
  position: fixed;
  left: 50%;
  background-color: #111;
  color: #aaa;
  font-size: 16px;
  border-radius: 2px;
  padding: 16px;
  transition: top 500ms;
  user-select: none;
  opacity: 0.9;
}

#pauseMenu {
  top: -150px;
  min-width: 150px;
  margin-left: -75px;  
}

#pauseMenu.active {
  top: 40px;
}

#mainMenu {
  top: -1000px;
  min-width: 400px;
  margin-left: -200px;  
  max-height: 90%;
  overflow-y: auto;
}

#mainMenu.active {
  top: 40px;
}

#results {
  top: -1000px;
  min-width: 300px;
  margin-left: -150px;  
  max-height: 90%;
  overflow-y: auto;
}

#results.active {
  top: 40px;
}


.menuContent {
  display: none;
}

.menuContent.active {
  display: block;
}

#toast {
  top: -100px;
  min-width: 250px;
  margin-left: -125px;  
}

#toast.active {
  top: 40px;
  opacity: 1;
}

.button {
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin: auto;
  margin-bottom: 4px;
  margin-top: 4px;
  width: 100px;
  border-color: #888;
  border-width: 1px;
  border-style: solid;
}

ul {
  list-style-type: none;
}

li {
  text-align: left;
}
