 @viewport {  
   orientation: portrait;  
 }  

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  line-height: 1.5em;
  overflow: hidden;
}

.controls {
  position: absolute;
  top: -50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #111;
  color: #888;
  font-size: small;
  transition: top 0.5s;
}

.initial {
  top: 0px;
}

.controlsTrigger {
  position: absolute;
  height: 100px;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.controlsTrigger:hover > .controls {
  top: 0px; 
  transition: top 0.5s;
}

/* .buttons {
  z-index: 1000;
}
 */
.button {
  position: absolute;
  width: 15%;
}

.left {
  left: 12%;
  bottom: 12%;
  transform: rotate(-180deg);
}

.right {
  left: 35%;
  bottom: 12%;
}

.down {
  right: 15%;
  bottom: 12%;
  transform: rotate(90deg);
}

.up {
  right: 15%;
  bottom: 25%;
  transform: rotate(-90deg);
}

.buttons {
  visibility: hidden;
}

#leftRight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 50%;
}

#upDown {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 50%;
}